---
Checks: >
  bugprone-*,
  cert-*,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -misc-use-internal-linkage
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
SystemHeaders: false
CheckOptions:
  readability-identifier-length.IgnoredParameterNames: id
  # To be consistent with Go, we only use camelBack and CamelCase
  readability-identifier-naming.NamespaceCase: camelBack
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.ConstantCase: camelBack
  readability-identifier-naming.ConceptCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TypeTemplateParameterCase: CamelCase
  readability-identifier-naming.ValueParameterCase: camelBack
  readability-identifier-naming.VariableCase: camelBack
...

